spfe-ot/plugins/eppo-simple/structures/text-decoration/schemas/authoring/text-decoration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of the SPFE Open Toolkit. See the accompanying license.txt file for applicable licenses.-->
<!-- (c) Copyright Analecta Communications Inc. 2012 All Rights Reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 
    <xs:group name="text-decoration">
        <xs:choice>
            <xs:element name="bold" type="xs:string"/>
            <xs:element name="italic" type="xs:string"/>
            <xs:element name="code"  type="xs:string"/>
            <xs:element name="quotes" type="xs:string"/>
        </xs:choice>
    </xs:group>
</xs:schema>
