spfe-ot/plugins/eppo-simple/presentation-types/eppo/schemas/presentation-eppo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  xmlns:gr="http://spfeopentoolkit.org/ns/eppo-simple/objects/graphics"
  targetNamespace="http://spfeopentoolkit.org/ns/eppo-simple/present/eppo"
  xmlns="http://spfeopentoolkit.org/ns/eppo-simple/present/eppo">
  <xs:import namespace="http://spfeopentoolkit.org/ns/eppo-simple/objects/graphics"
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/object-types/graphics/schemas/graphic-record.xsd"/>
  <xs:include
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/annotations/base/schemas/presentaion/annotations-base-presentation.xsd"/>
  <xs:include
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/lists/ol-ul-ll/schemas/authoring/ol-ul-ll-lists.xsd"/>
  <xs:include
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/procedures/procedure/schemas/presentation/procedure.xsd"/>
  <xs:include
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/admonitions/general/schemas/presentation/admonition.xsd"/>
  <xs:include
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/headings/subhead/schemas/presentation/subhead.xsd"/>
  <xs:include
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/codeblock/schemas/presentation/codeblock.xsd"/>
  <xs:include
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/labeled-item/schemas/presentation/labeled-item.xsd"/>
  <xs:include
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/media/fig/schemas/presentation/fig.xsd"/>
  <xs:include
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/tree/schemas/presentation/tree.xsd"/>
  <xs:include
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/paragraphs/schemas/presentation/paragraphs.xsd"/>
  <xs:include
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/section/schemas/presentation/eppo/section-eppo.xsd"/>
  <xs:include
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/anchor/schemas/presentation/eppo/anchor-eppo.xsd"/>
  <xs:include
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/table-basic/schemas/presentation/eppo/table-basic-eppo.xsd"/>
  <xs:element name="pages">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="title_type"/>
        <xs:element name="page" type="page_type" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="page_type">
    <xs:sequence>
      <xs:element name="context-nav">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="home">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="link" type="link_type"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="breadcrumbs">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="breadcrumb">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="link" type="link_type"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="keywords">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="title" type="title_type"/>
                  <xs:element maxOccurs="unbounded" name="keyword">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="link" type="link_type"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="disambiguation">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="title" type="title_type"/>
                  <xs:element name="p" type="paragraph"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="related-nav">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="categories">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="category">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="link" type="link_type"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="see-alsos">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="see-also">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="link" type="link_type"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="site-nav">
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="text-nested"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="title" type="other_title_type"/>
      <xs:element minOccurs="0" name="toc">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="toc-entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="link" type="link_type"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="byline">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="by-label"/>
            <xs:element name="authors">
              <xs:complexType mixed="true">
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="name" type="name_type"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="precis" type="precis_type" minOccurs="0"/>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="text-general"/>
      <xs:element name="section" type="section" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" use="required" type="xs:NCName"/>
    <xs:attribute name="status"/>
    <xs:attribute name="type" type="xs:NCName"/>
  </xs:complexType>
  <xs:group name="paragraph-content">
    <xs:sequence>
      <xs:group ref="annotations-base-presentation" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="header_type">
    <xs:sequence>
      <xs:element name="p" type="paragraph"/>
      <xs:element name="table" type="table-basic"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="caption_type">
    <xs:sequence>
      <xs:element name="p" type="paragraph"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="precis_type">
    <xs:sequence>
      <xs:element name="title" type="title_type"/>
      <xs:group maxOccurs="unbounded" ref="text-minimal"/>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType mixed="true" name="name_type">
    <xs:sequence>
      <xs:element name="link" type="link_type" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="hint" type="xs:NCName"/>
    <xs:attribute name="type" type="xs:NCName"/>
  </xs:complexType>
  <xs:complexType name="ol_type">
    <xs:sequence>
      <xs:element name="li" type="li_type" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="link_type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="class" type="xs:NCName"/>
        <xs:attribute name="hint" type="xs:NCName"/>
        <xs:attribute name="href" use="required"/>
        <xs:attribute name="title"/>
        <xs:attribute name="topic-title"/>
        <xs:attribute name="topic-type"/>
        <xs:attribute name="external" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ll_type">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="li">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="label"/>
            <xs:element name="p" type="paragraph"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ul_type">
    <xs:sequence>
      <xs:element name="li" type="li_type" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="li_type">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="p" type="paragraph"/>
        <xs:element name="ul" type="ul_type"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="text-general">
    <xs:choice>
      <xs:group ref="fig"/>
      <xs:group ref="labeled-item"/>
      <xs:group ref="subhead"/>
      <xs:group ref="procedure"/>
      <xs:group ref="paragraph"/>
      <xs:group ref="anchor"/>
      <xs:group ref="codeblock"/>
      <xs:group ref="lists.ol-ul-ll"/>
      <xs:group ref="tree"/>
      <xs:group ref="table-basic"/>
      <xs:group ref="admonitions"/>
    </xs:choice>

  </xs:group>
  <xs:simpleType name="title_type">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:group name="text-minimal">
    <xs:choice>
      <xs:element name="p" type="paragraph"/>
      <xs:element name="ol" type="ol_type"/>
      <xs:element name="ul" type="ul_type"/>
    </xs:choice>
  </xs:group>
  <xs:group name="text-nested">
    <xs:choice>
      <xs:element name="fig" type="fig"/>
      <xs:element name="subhead" type="xs:string"/>
      <xs:element name="p" type="paragraph"/>
      <xs:element name="anchor" type="anchor"/>
      <xs:element name="ol" type="ol_type"/>
      <xs:element name="codeblock" type="codeblock"/>
      <xs:element name="ul" type="ul_type"/>
    </xs:choice>

  </xs:group>
  <xs:simpleType name="other_title_type">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType mixed="true" name="reference_type">
    <xs:sequence>
      <xs:element name="link" type="link_type" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="hint" type="xs:NCName"/>
    <xs:attribute name="type" type="xs:NCName"/>
  </xs:complexType>
  <xs:group name="table-cell-content">
    <xs:sequence>
      <xs:group ref="text-minimal"/>
    </xs:sequence>
  </xs:group>
</xs:schema>
