spfe-ot/plugins/eppo-simple/presentation-types/eppo/schemas/presentation-eppo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  xmlns:gr="http://spfeopentoolkit.org/ns/eppo-simple/objects/graphics"
  targetNamespace="http://spfeopentoolkit.org/ns/eppo-simple/present/eppo"
  xmlns="http://spfeopentoolkit.org/ns/eppo-simple/present/eppo">
  <xs:import namespace="http://spfeopentoolkit.org/ns/eppo-simple/objects/graphics"
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/object-types/graphics/schemas/graphic-record.xsd"/>
  <xs:include
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/annotations/base/schemas/presentaion/annotations-base-presentation.xsd"/>
  <xs:include
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/lists/ol-ul-ll/schemas/authoring/ol-ul-ll-lists.xsd"/>
  <xs:include
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/procedures/procedure/schemas/presentation/procedure.xsd"/>
  <xs:include
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/admonitions/general/schemas/presentation/admonition.xsd"/>
  <xs:include
    schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/headings/subhead/schemas/presentation/subhead.xsd"/>
  <xs:element name="pages">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="title_type"/>
        <xs:element name="page" type="page_type" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="paragraph-content">
    <xs:sequence>
      <xs:group ref="annotations-base-presentation" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="page_type">
    <xs:sequence>
      <xs:element name="context-nav">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="home">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="link" type="link_type"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="breadcrumbs">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="breadcrumb">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="link" type="link_type"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="keywords">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="title" type="title_type"/>
                  <xs:element maxOccurs="unbounded" name="keyword">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="link" type="link_type"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="disambiguation">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="title" type="title_type"/>
                  <xs:element name="p" type="paragraph"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="related-nav">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="categories">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="category">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="link" type="link_type"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="see-alsos">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="see-also">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="link" type="link_type"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="site-nav">
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="text-nested"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="title" type="other_title_type"/>
      <xs:element minOccurs="0" name="toc">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="toc-entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="link" type="link_type"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="byline">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="by-label"/>
            <xs:element name="authors">
              <xs:complexType mixed="true">
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="name" type="name_type"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="precis" type="precis_type" minOccurs="0"/>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="text-general"/>
      <xs:element name="section" type="section_type" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" use="required" type="xs:NCName"/>
    <xs:attribute name="status"/>
    <xs:attribute name="type" type="xs:NCName"/>
  </xs:complexType>
  <xs:complexType name="header_type">
    <xs:sequence>
      <xs:element name="p" type="paragraph"/>
      <xs:element name="table" type="table-basic"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fig_type">
    <xs:sequence>
      <xs:element ref="gr:graphic-record"/>
      <xs:element name="title" type="title_type"/>
      <xs:element name="caption" type="caption_type"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="caption_type">
    <xs:sequence>
      <xs:element name="p" type="paragraph"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="labeled-item_type">
    <xs:sequence>
      <xs:element name="anchor" type="anchor_type" minOccurs="0"/>
      <xs:element name="label">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element name="link" type="link_type" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="item">
        <xs:complexType>
          <xs:sequence>
            <xs:group maxOccurs="unbounded" ref="text-nested"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="precis_type">
    <xs:sequence>
      <xs:element name="title" type="title_type"/>
      <xs:group maxOccurs="unbounded" ref="text-minimal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="section_type">
    <xs:sequence>
      <xs:element name="anchor" type="anchor_type"/>
      <xs:element name="title" type="title_type"/>
      <xs:group maxOccurs="unbounded" ref="text-general"/>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="paragraph">
    <xs:sequence>
      <xs:element name="p" type="paragraph"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType mixed="true" name="paragraph">
    <xs:group ref="paragraph-content"/>
    <xs:attribute name="hint" type="xs:NCName"/>
  </xs:complexType>


  <xs:complexType mixed="true" name="name_type">
    <xs:sequence>
      <xs:element name="link" type="link_type" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="hint" type="xs:NCName"/>
    <xs:attribute name="type" type="xs:NCName"/>
  </xs:complexType>
  <xs:complexType name="anchor_type">
    <xs:attribute name="name" use="required" type="xs:NCName"/>
  </xs:complexType>
  <xs:complexType name="ol_type">
    <xs:sequence>
      <xs:element name="li" type="li_type" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType mixed="true" name="codeblock_type">
    <xs:sequence>
      <xs:element name="link" type="link_type" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="language" type="xs:NCName"/>
    <xs:attribute name="namespace" type="xs:anyURI"/>
  </xs:complexType>
  <xs:complexType name="link_type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="class" type="xs:NCName"/>
        <xs:attribute name="hint" type="xs:NCName"/>
        <xs:attribute name="href" use="required"/>
        <xs:attribute name="title"/>
        <xs:attribute name="topic-title"/>
        <xs:attribute name="topic-type"/>
        <xs:attribute name="external" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ll_type">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="li">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="label"/>
            <xs:element name="p" type="paragraph"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ul_type">
    <xs:sequence>
      <xs:element name="li" type="li_type" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="li_type">
    <xs:sequence>
      <xs:element name="subhead" minOccurs="0" type="xs:string"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="p" type="paragraph"/>
        <xs:element name="ul" type="ul_type"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tree_type">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="branch" type="branch_type"> </xs:element>
    </xs:sequence>
    <xs:attribute name="class">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="toc"/>
          <xs:enumeration value="general"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="branch_type">
    <xs:sequence>
      <xs:element name="content">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element name="link" type="link_type" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="branch" type="branch_type" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="state">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="open"/>
          <xs:enumeration value="closed"/>
          <xs:enumeration value="fixed"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:group name="text-general">
    <xs:choice>
      <xs:element name="fig" type="fig_type"/>
      <xs:element name="labeled-item" type="labeled-item_type"/>
      <xs:element name="subhead" type="xs:string"/>
      <xs:group ref="procedure"/>
      <xs:group ref="paragraph"/>
      <xs:element name="anchor" type="anchor_type"/>
      <xs:element name="codeblock" type="codeblock_type"/>
      <xs:group ref="lists.ol-ul-ll"/>
      <xs:element name="tree" type="tree_type"/>
      <xs:group ref="table-basic"/>
      <xs:group ref="admonitions"/>
    </xs:choice>

  </xs:group>
  <xs:simpleType name="title_type">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:group name="text-minimal">
    <xs:choice>
      <xs:element name="p" type="paragraph"/>
      <xs:element name="ol" type="ol_type"/>
      <xs:element name="ul" type="ul_type"/>
    </xs:choice>
  </xs:group>
  <xs:group name="text-nested">
    <xs:choice>
      <xs:element name="fig" type="fig_type"/>
      <xs:element name="subhead" type="xs:string"/>
      <xs:element name="p" type="paragraph"/>
      <xs:element name="anchor" type="anchor_type"/>
      <xs:element name="ol" type="ol_type"/>
      <xs:element name="codeblock" type="codeblock_type"/>
      <xs:element name="ul" type="ul_type"/>
    </xs:choice>

  </xs:group>
  <xs:simpleType name="other_title_type">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType mixed="true" name="reference_type">
    <xs:sequence>
      <xs:element name="link" type="link_type" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="hint" type="xs:NCName"/>
    <xs:attribute name="type" type="xs:NCName"/>
  </xs:complexType>
  <xs:group name="table-basic">
    <xs:sequence>
      <xs:element name="table">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="table-basic">
              <xs:attribute name="id"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="table-basic">
    <xs:sequence>
      <xs:element minOccurs="0" name="title"/>
      <xs:element minOccurs="0" name="caption">
        <xs:complexType>
          <xs:group ref="text-minimal"/>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="thead">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tr">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="td" type="td-type"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tbody">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="tr">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="td">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="td-type">
                          <xs:attribute name="rowspan" type="xs:integer"/>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="td-type">
    <xs:sequence>
      <xs:group ref="table-cell-content"/>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="table-cell-content">
    <xs:sequence>
      <xs:group ref="text-minimal"/>
    </xs:sequence>
  </xs:group>
</xs:schema>
