spfe-ot/plugins/eppo-simple/structures/identity/schemas/authoring/identity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of the SPFE Open Toolkit. See the accompanying license.txt file for applicable licenses.-->
<!-- (c) Copyright Analecta Communications Inc. 2012 All Rights Reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:group name="identity">
        <xs:sequence>
            <xs:element name="id" type="xs:NCName"/>
            <xs:element name="scope" type="xs:NMTOKENS" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:group>
</xs:schema>
