spfe-ot/plugins/eppo-simple/structures/paragraphs/schemas/presentation/paragraphs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:group name="paragraph">
        <xs:sequence>
            <xs:element name="p" type="paragraph"/>
        </xs:sequence>
    </xs:group>
    <xs:complexType mixed="true" name="paragraph">
        <xs:group ref="paragraph-content"/>
        <xs:attribute name="hint" type="xs:NCName"/>
    </xs:complexType>
</xs:schema>
