spfe-docs/schemas/modules/identity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of the SPFE Open Toolkit. See the accompanying license.txt file for applicable licenses.-->
<!-- (c) Copyright Analecta Communications Inc. 2012 All Rights Reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:group name="identity">
        <xs:sequence>
            <xs:element name="base-uri" type="xs:anyURI"/>
            <xs:element name="name" type="xs:NMTOKEN"/>
        </xs:sequence>
    </xs:group>
    
</xs:schema>
