spfe-ot/plugins/eppo-simple/structures/admonitions/danger-warning-caution-notice/schemas/authoring/danger-warning-caution-notice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="http://spfeopentoolkit.org/spfe-ot/plugins/eppo-simple/structures/admonitions/general/schemas/authoring/admonition-type.xsd"/>

   
    <xs:group name="admonitions">
        <xs:choice>
            <xs:element name="danger" type="admonition"/>
            <xs:element name="warning" type="admonition"/>
            <xs:element name="caution" type="admonition"/>
            <xs:element name="notice" type="admonition"/>
        </xs:choice>
    </xs:group>
</xs:schema>
