spfe-ot/1.0/schemas/config/spfe-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of the SPFE Open Toolkit. See the accompanying license.txt file for applicable licenses.-->
<!-- (c) Copyright Analecta Communications Inc. 2012 All Rights Reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://spfeopentoolkit/ns/spfe-ot/config"
  xmlns="http://spfeopentoolkit/ns/spfe-ot/config">
  <xs:element name="spfe">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">

        <xs:element name="topic-set">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="topic-set-id" type="xs:string"/>
              <xs:element name="topic-set-type" type="xs:string"/>
              <xs:element minOccurs="0" name="topic-set-link-priority" type="xs:int"/>
              <xs:element name="topic-types">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="topic-type">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string"/>
                          <xs:element name="href" type="xs:anyURI"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="object-types" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="object-type">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string"/>
                          <xs:element name="href" type="xs:anyURI"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="presentation-types">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="presentation-type" type="xs:NMTOKEN">
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="output-formats">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="output-format">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sources" type="sources-type"/>
              <xs:element name="condition-tokens" minOccurs="0" maxOccurs="1" type="xs:NMTOKENS"/>
              <xs:element name="default-topic-scope" minOccurs="0" maxOccurs="1" type="xs:string"/>
              <xs:element name="default-subject-scope" minOccurs="0" maxOccurs="1" type="xs:string"/>
              <xs:element name="build-rules" type="xs:anyURI" minOccurs="0"/>
              <xs:element name="strings" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="other" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="name"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="object-set">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="object-set-id" type="xs:NMTOKEN"/>
              <xs:element name="object-types">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="object-type">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string"/>
                          <xs:element name="href" type="xs:anyURI"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sources" type="sources-type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="content-set">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="content-set-id" type="xs:NMTOKEN"/>
              <xs:element name="title" type="xs:string"/>
              <xs:element name="topic-set-type-order">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="topic-set-type" minOccurs="1" maxOccurs="unbounded"
                      type="xs:anyURI"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="home-topic-set" type="xs:string"/>
              <xs:element name="topic-sets" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="topic-set" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="topic-set-id" type="xs:NCName"/>
                          <xs:element name="href" type="xs:anyURI"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="object-sets">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="object-set" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="object-set-id"/>
                          <xs:element name="href"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="object-types" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="object-type">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string"/>
                          <xs:element name="href" type="xs:anyURI"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="subject-types" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="subject-type">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="id" type="xs:NMTOKEN"/>
                          <xs:element name="aliases">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="singular" type="xs:string"/>
                                <xs:element name="plural" type="xs:string"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="condition-tokens" minOccurs="0" maxOccurs="1" type="xs:NMTOKENS"/>
              <xs:element name="messages" minOccurs="0">
                <xs:simpleType>
                  <xs:list itemType="messages-type"/>
                </xs:simpleType>
              </xs:element>
              <xs:element name="presentation-types" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="presentation-type" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:NMTOKEN"/>
                          <xs:element name="href" type="xs:anyURI"/>
                          <xs:element minOccurs="0" name="copy-to" type="xs:anyURI"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="output-formats" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="output-format">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string"/>
                          <xs:element name="href" type="xs:anyURI"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="wip-site" type="wip-site-type" minOccurs="0"/>
              <xs:element name="strings" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="string" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="other" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="name"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="topic-type">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element minOccurs="0" name="topic-type-link-priority" type="xs:int"/>
              <xs:element name="aliases" type="topic-type-aliases-type" minOccurs="0"/>
              <xs:element minOccurs="0" name="structures">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="structure">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string"/>
                          <xs:element name="href" type="xs:anyURI"/>
                          <xs:element minOccurs="0" name="remap-namespace"
                            type="remap-namespaces-type"> </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="file-types">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="file-type">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string"/>
                          <xs:element name="href" type="xs:anyURI"/>
                          <xs:element minOccurs="0" name="remap-namespace"
                            type="remap-namespaces-type"> </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="scripts" type="scripts-type" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="presentation-type">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="scripts" minOccurs="0" type="script-list-type"/>
              <xs:element name="topic-types" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="topic-type" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string"/>
                          <xs:element name="scripts" type="script-list-type"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="output-format">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="presentation-type" type="xs:NMTOKEN"/>
              <xs:element name="scripts" type="scripts-type" minOccurs="0"/>
              <xs:element name="support-files" type="fileset-type" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="structure">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="dependencies" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="dependency">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string"/>
                          <xs:element name="href" type="xs:anyURI"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="scripts" type="scripts-type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="file-type">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="dependencies" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="dependency">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string"/>
                          <xs:element name="href" type="xs:anyURI"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="scripts" type="scripts-type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="structures">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element maxOccurs="unbounded" name="structure">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="href" type="xs:anyURI"/>
                    <xs:element minOccurs="0" name="remap-namespace" type="remap-namespaces-type">
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="object-type">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element minOccurs="0" name="structures">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="structure">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string"/>
                          <xs:element name="href" type="xs:anyURI"/>
                          <xs:element minOccurs="0" name="remap-namespace"
                            type="remap-namespaces-type"> </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="scripts" type="scripts-type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="object-type">
    <xs:sequence>
      <xs:element name="object-id"/>
      <xs:element name="sources" type="sources-type"/>
      <xs:element name="object-type">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="href" type="xs:anyURI"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sources-type">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="authored-content" type="fileset-type"/>
      <xs:element name="graphics" type="fileset-type"/>
      <xs:element name="sources-to-extract-content-from" type="fileset-type"/>
      <xs:element name="other" minOccurs="0">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="fileset-type">
              <xs:attribute name="name" type="xs:NCName"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>

      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="fileset-type">
    <xs:sequence>
      <xs:element name="include" type="xs:anyURI" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>



  <xs:complexType name="topic-type-aliases-type">
    <xs:sequence>
      <xs:element name="singular" type="xs:string"/>
      <xs:element name="plural" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="messages-type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="warning"/>
      <xs:enumeration value="info"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="wip-site-type">
    <xs:sequence>
      <xs:element name="url"/>
      <xs:element name="ftp">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="url"/>
            <xs:element name="user"/>
            <xs:element name="password"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="path"/>
    </xs:sequence>
  </xs:complexType>

  <!-- FIXME: this uses directory where it should use path and vice versa. -->

  <xs:complexType name="scripts-type">
    <xs:choice maxOccurs="unbounded">
      <xs:element minOccurs="0" name="extract" type="script-list-type"/>
      <xs:element minOccurs="0" name="merge" type="script-list-type"/>
      <xs:element name="resolve" type="script-list-type" minOccurs="0"/>
      <xs:element name="link-catalog" type="script-list-type" minOccurs="0"/>
      <xs:element name="toc" type="script-list-type" minOccurs="0"/>
      <xs:element name="image-list" type="script-list-type" minOccurs="0"/>
      <xs:element name="present" minOccurs="0">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="script-list-type">
              <xs:attribute name="type" type="xs:NMTOKEN" use="required"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="format" minOccurs="0">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="script-list-type">
              <xs:attribute name="type" type="xs:NMTOKEN" use="required"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <!--      <xs:element name="encode-pdf" type="script-list-type"  minOccurs="0"/>-->
      <!-- Need a different mechanism for specifying the pdf encoding script since
      it is not a standard SPFE XSLT script, but a third party one with its own rules. 
      May need to point to an appropriate config file. For instance, FOP uses a 
      fop.xconf file.-->
      <xs:element name="other" minOccurs="0">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="script-list-type">
              <xs:attribute name="name" type="xs:NCName"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="script-list-type">
    <xs:sequence>
      <!-- <xs:element name="script" type="xs:anyURI" maxOccurs="unbounded" minOccurs="1"/>-->
      <xs:element name="script" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="remap-namespace" type="remap-namespaces-type"> </xs:element>
            <xs:element name="href" type="xs:anyURI"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="remap-namespaces-type">
    <xs:sequence>
      <xs:element name="from" type="xs:anyURI"/>
      <xs:element name="to" type="xs:anyURI"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
