spfe-ot/plugins/eppo-simple/structures/text-object-ref/schemas/authoring/text-object-ref.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    
    <xs:complexType name="text-object-ref-type">
        <xs:attribute name="id-ref"/>
    </xs:complexType>
    
    <xs:group name="text-object-ref">
        <xs:sequence>
            <xs:element name="text-object-ref" type="text-object-ref-type"/>
        </xs:sequence>
    </xs:group>
    
</xs:schema>
